.container-box-shadow {
    box-shadow: 0px 1px 4px 0px #00000040;
}

@media (max-width: 767px) {
    /* Apply styles only for screens smaller than 768px (mobile screens) */
    .container-box-shadow {
        box-shadow: none !important;
        margin-top: 0rem !important;
        margin-bottom: 0rem !important;
    }

    .container-box-shadow-details {
        margin-top: 0rem !important;
        padding: 1rem !important;
    }
    .payment {
        margin-top: 1rem !important;
    }

    .reschedule {
        width: 50%;
    }
}
